<html>
    <head>
        <title>Add New Teacher</title>
    </head>
    <body>
        <h2>Add New Teacher</h2>

        <form action="/add-teacher/" method="post">
            {% csrf_token %} Teacher Name : <br />
            <input
                type="hidden"
                id="hdn_teacher_id"
                name="hdn_teacher_id"
                value="{{obj_teacher.id}}"
            />
            <input
                type="text"
                id="txt_teacher_name"
                name="txt_teacher_name"
                placeholder="Enter Teacher's name"
                value="{{obj_teacher.teacher_name}}"
            />
            <br />
            Teacher Age : <br />
            <input
                type="number"
                id="txt_teacher_age"
                name="txt_teacher_age"
                placeholder="Enter Teacher's age"
                value="{{obj_teacher.age}}"
            />
            <br />
            Teacher Salary : <br />
            <input
                type="number"
                id="txt_teacher_salary"
                name="txt_teacher_salary"
                placeholder="Enter Teacher's salary"
                value="{{obj_teacher.salary}}"
            /><br /><br /><br />

            <input type="submit" value="Save Teacher" /> <br />
            <a href="/view-teachers/">Show All Teachers</a>
        </form>
    </body>
</html>
