<html>
    <head>
        <title>My Site</title>
    </head>
    <body>
        <div
            style="
                width: 100%;
                height: 100px;
                border-bottom: 1px sold red;
                background: green;
            "
        >
            {% if user.is_authenticated %}
            <div
                style="
                    height: 50px;
                    width: 99%;
                    background-color: green;
                    text-align: right;
                    padding: 5px;
                "
            >
                Welcome {{user.first_name}} | <a href="/logout">Log Out </a>
            </div>
            {% else %} Hello |
            <a href="/login">Clieck here </a> to login {% endif %}
        </div>
        <div style="height: 600px; width: 100%; border: 1px solid red">
            <div
                style="
                    width: 20%;
                    float: left;
                    background: orange;
                    height: 600px;
                "
            >
                <a href="/view-teachers/">Manage Teachers</a> <br />
                <a href="/show-books">Manage Books</a> <br />
                <a href="/register">Create your account</a> <br />
                <a href="/login">Login to your account</a> <br />
            </div>
            <div style="width: 80%; float: left; height: 600px">
                {% block page_content %} {% endblock page_content %}
            </div>
        </div>
    </body>
</html>
