<html>
    <head>
        <title>Add New Book</title>
    </head>
    <body>
        <h2>Add new book</h2>

        <form action="/edit-book-data/" method="post">
            {% csrf_token %} Book Name : <br />
            <input
                type="hidden"
                id="hdn_book_id"
                name="hdn_book_id"
                value="{{obj_book.id}}"
            />

            <input
                type="text"
                id="txt_book_name"
                name="txt_book_name"
                value="{{obj_book.book_name}}"
                placeholder="Enter book name"
            />
            <br />
            Author Name : <br />
            <input
                type="text"
                id="txt_author_name"
                name="txt_author_name"
                value="{{obj_book.author}}"
                placeholder="Enter Author name"
            />
            <br />
            Publisher Name : <br />
            <input
                type="text"
                id="txt_publisher_name"
                name="txt_publisher_name"
                value="{{obj_book.publisher}}"
                placeholder="Enter Publisher name"
            /><br /><br /><br />

            <input type="submit" value="Edit Book" /> <br />
            <a href="/show-books/">Show All books</a>
        </form>
    </body>
</html>
