<html>
    <head>
        <title>Login to your account</title>
    </head>
    <body>
        <h2>Login to your account</h2>
        {% if error_msg %}
        <br />
        <span style="color: red;">{{error_msg}}</span>
        {% endif %}
        <form action="/login/" method="post">
            {% csrf_token %} Username : <br />
              <input
                type="hidden"
                id="hdn_next"
                name="hdn_next"
                value={{redirect_url}}

            />
            <input
                type="text"
                id="txt_user_name"
                name="txt_user_name"
                placeholder="Enter your username"
            />

            <br />
            Password : <br />
            <input
                type="password"
                id="txt_password"
                name="txt_password"
                placeholder="Enter your password"
            /><br /><br /><br />

            <input type="submit" value="Login" />
            &nbsp;&nbsp; <a href='/'>Back to Home</a>
        </form>
    </body>
</html>
