<html>
    <head>
        <title>Register Account</title>
    </head>
    <body>
        <h2>Register your Account</h2>

        <form action="/register/" method="post">
            {% csrf_token %} First Name : <br />
            <input
                type="text"
                id="txt_first_name"
                name="txt_first_name"
                placeholder="Enter your First name"
            />
            <br />
            Last Name : <br />
            <input
                type="text"
                id="txt_last_name"
                name="txt_last_name"
                placeholder="Enter your Last name"
            />
            <br />
            Username : <br />
            <input
                type="text"
                id="txt_user_name"
                name="txt_user_name"
                placeholder="Enter your user name"
            />
            <br />
            Password : <br />
            <input
                type="password"
                id="txt_password"
                name="txt_password"
                placeholder="Enter your password"
            /><br /><br /><br />

            <input type="submit" value="Register" /> &nbsp;&nbsp; <a href='/'>Back to Home</a>
        </form>
    </body>
</html>
