<html>
    <head>
        <title>Details of Book : {{ obj_book.book_name}}</title>
    </head>
    <body>
        <h2>Book Details</h2>
        <a href="/add-book/">Add New Book</a><br />
        <a href="/show-books/">Show All Books</a>

        <h3>Book Name : {{ obj_book.book_name}}</h3>
        <br />
        <h3>Publisher : {{ obj_book.publisher}}</h3>
        <br />
        <h3>Author : {{ obj_book.author}}</h3>
        <br />
    </body>
</html>
