{% extends "base.html" %} {% block page_content %}

<h2>App Books</h2>
<a href="/add-book/">Add New Book</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>View Book</th>
        <th>Delete Book</th>
        <th>Edit Book</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{book.id}}</td>
        <td>{{book.book_name}}</td>
        <td>{{book.author}}</td>
        <td>{{book.publisher}}</td>
        <td>
            <a href="/show-book/?id={{book.id}}">View</a>
        </td>
        <td>
            <a
                onclick="return confirm('Are you sure to delete this book ?')"
                href="/delete-book/?id={{book.id}}"
                >Delete</a
            >
        </td>
        <td>
            <a href="/edit-book/?id={{book.id}}">Edit</a>
        </td>
    </tr>

    {% endfor %}
</table>

{% endblock page_content %}
