<html>
    <head>
        <title>Show Teachers</title>
    </head>
    <body>

        {% if teachers %}
            <h2>Teacher List</h2>
            <a href="/add-teacher/">Add New Teacher <a/>
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Salary</th>
                    <th>View</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
                {% for teacher in teachers %}
                <tr>
                    <td>
                        {{teacher.id}}
                    </td>
                    <td>
                        {{teacher.teacher_name}}
                    </td>
                    <td>
                        {{teacher.age}}
                    </td>
                    <td>
                        {{teacher.salary}}
                    </td>
                    <td>
                        <a href="/view-teachers/?id={{teacher.id}}">View</a>
                    </td>
                    <td>
                        <a
                            onclick="return confirm('Are you sure to delete this teacher ?')"
                            href="/delete-teacher/?id={{teacher.id}}"
                            >Delete</a
                        >
                    </td>
                    <td>
                        <a href="/add-teacher/?id={{teacher.id}}">Edit</a>
                    </td>
                </tr>

                {% endfor %}
            </table>

        {% else %}

            <h2>Teacher Details</h2>
            <a href="/add-teacher/">Add New Teacher</a><br />
            <a href="/view-teachers/">Show All Teachers</a>

            <h3>Teacher Name : {{ obj_teacher.teacher_name}}</h3>
            <br />
            <h3>Salary : {{ obj_teacher.salary}}</h3>
            <br />
            <h3>Age : {{ obj_teacher.age}}</h3>
            <br />

        {% endif %}




    </body>
</html>
